<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
       
        <th scope="col">Kategori</th>
        <th scope="col">Açıklama</th>
        <th scope="col">ISBN</th>
        <th scope="col">Dil</th>
        <th scope="col">Adı</th>
        <th scope="col">Sayfa Sayısı</th>
        <th scope="col">Yazar id</th>
        <th scope="col">Stok Sayısı</th>

        
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of bookList">
        <th scope="row">{{item.categoryId}}</th>
        <th scope="row">{{item.description}}</th>
        <th scope="row">{{item.isbn}}</th>
        <th scope="row">{{item.language}}</th>
        <th scope="row">{{item.name}}</th>
        <th scope="row">{{item.pages}}</th>
        <th scope="row">{{item.publisherId}}</th>
        <th scope="row">{{item.unitsInStock}}</th>
        
      </tr>
    </tbody>
  </table>
    <p *ngIf="bookList.length <= 0">Yükleniyor...</p>
  </div>